<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Swag Shop&#8482</title>

<!-- Bootstrap Core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="/css/heroic-features.css" rel="stylesheet">

<!-- jQuery -->
<script src="/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<script>
var loginUser = {};
<% if (loginUser) { %>
	loginUser = {
		em: '<%= loginUser.email %>',
		fn: '<%= loginUser.firstname %>',
		ln: '<%= loginUser.lastname %>',
		ph: '<%= loginUser.phone %>'
	};
<% } %>
</script>

<!--TODO - Signals, Exercise 1a, implement Pixel base code -->

<!--TODO - Signals, Exercise 1b, implement Advanced Matching -->
